.page-title
    h2 Products Edit
.page-inner
    form(ng-submit="editProduct()" novalidate name="ProductForm").form
        .form-group
            label Id
            input(name="id" type="text" ng-disabled="true" class="form-control" ng-model="product.id")
        .form-group
            label Name
            input(name="name" type="text"  class="form-control" ng-model="product.nazwa")
        .form-group
            label Quantity
            input(name="quantity" type="text" class="form-control" ng-model="product.ilosc")
        .form-group
            label Price
            input(name="price" type="text"   class="form-control" ng-model="product.cena")
        .form-group
            label Category
            br
            select(ng-model="product.Kategorie" class="form-control" ng-options="item.id as item.nazwa_kategoria for item in category")
        button.btn.btn-md.btn-info(ng-click="previousState()") Back
        button.btn.btn-md.btn-success(type="submit" ng-disabled="!ProductForm.$dirty") Edit
